.table-container {
    overflow-x: auto;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.timestamp-container{
    padding-left: 10%;
    margin-bottom: 30px;
}
table {
    width: 100%;
    border-collapse:collapse;
}
tr:hover {
    background-color: #ddeeee;
}
th {
    background-color: #c1c1c1;
    cursor: pointer;
}
th, td {
    padding: 8px;
    text-align: left;
}
.arrow {
    /* position: absolute; */
    margin-left: 5px; /* Adjusts the position of the arrow to the right of the header text */
    font-size: 12px;
}
caption {
    caption-side: top-left; /* Position the caption to the top left corner of the table */
    font-size: 16px; /* Larger text for the caption */
    font-weight: bold; /* Bold text for the caption */
    text-align: left; /* Align text to the left */
    margin: 10px; /* Space around the caption */
    padding: 5px; /* Padding inside the caption */
}
hr {
    border: 0;
    height: 1px; /* Height of the horizontal line */
    background-color: #ccc; /* Color of the horizontal line */
    margin: 20px 0; /* Space around the horizontal line */
    /* width: 60%; */
}